<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar:</label>
        <input [(ngModel)]="termino" name="termino" (keyup.enter)="buscar()" placeholder="Buscar una película"
          type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row animated fadeIn fast">
    <div class="card-columns">

      <div class="card puntero" *ngFor="let pelicula of _ps.peliculas" [routerLink]="['/pelicula', pelicula.id]">
        <img [src]="pelicula | noimage" class="card-img-top" [alt]="pelicula.original_title">
        <div class="card-body">
          <h5 class="card-title">{{ pelicula.title }}</h5>
        </div>
      </div>

    </div>
  </div>