<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Películas App</h1>
    <p class="lead">Esta en un aplicación de películas</p>
  </div>
</div>

<div class="container">
  <br>
  <app-galeria titulo="En cartelera" [peliculas]="cartelera|slice:0:6"></app-galeria>
  <app-galeria titulo="Populares" [peliculas]="populares|slice:0:6" class="m-5"></app-galeria>
  <app-galeria titulo="Favoritas entre los más peques" [peliculas]="popularesNinos|slice:0:6" class="m-5"></app-galeria>
</div>